<div class="cell small-11 medium-5 large-4 header-container text-center" xmlns:th="http://www.thymeleaf.org">
           <pre class="logo">
 ____
|  _ \  __ _  __ _ _ __
| | | |/ _` |/ _` | '_ \
| |_| | (_| | (_| | | | |
|____/ \__,_|\__,_|_| |_|
           </pre>
    <div id="nav">
        <ul id="horizontal-list">
            <li><a th:href="@{~/}" th:classappend="${active == 'index' ? 'is-active' : ''}">~</a></li>
            <li><a th:href="@{~/about}" th:classappend="${active == 'about' ? 'is-active' : ''}">about</a></li>
            <li><a th:href="@{~/cv}" th:classappend="${active == 'cv' ? 'is-active' : ''}">cv</a></li>
            <li><a th:href="@{~/contact}" th:classappend="${active == 'contact' ? 'is-active' : ''}">contact</a></li>
            <li><a th:href="@{~/links}" th:classappend="${active == 'links' ? 'is-active' : ''}">links</a></li>
        </ul>
    </div>
</div>