body {
    background-color: #1D2426;
    font-family: 'ProFont';
}

@font-face {
    font-family: 'ProFont';
    src: url('../fonts/ProFontWindows.woff') format('woff');
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-left: 5em;
    padding-right: 5em;
    padding-bottom: 0.7em;
    font-size: 12px;
    background-color: #1D2426;
    border: 2px solid #8FA388;
    color: #8FA388;
}

.table {
    display: table;
}

ul#horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin-left: 0px;
}

ul#horizontal-list li {
    display: inline;
    padding: 0.5em;
}

.header-container {
    font-size: 12px;
    background-color: #1D2426;
    border: 1px solid #8FA388;
    color: #8FA388;
}

a:link, a:visited {
    color: #8FA388;
}

a:hover, a:active {
    color: #BE5E1E;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {
    border-color: #8FA388;
    box-shadow: 0 1px 1px #8FA388 inset, 0 0 8px #8FA388;
    outline: 0 none;
}

a.is-active {
    color: #BE5E1E;
}

pre.logo {
    text-align: left;
    display: inline-block;
    margin-bottom: -1em;
}

input::placeholder, textarea::placeholder {
    color: #445459;
    opacity: 1;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder, input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #445459;
}

@media screen and (max-width: 475px) {
    #rc-imageselect, .g-recaptcha {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}

@media screen and (max-width: 375px) {
    #rc-imageselect, .g-recaptcha {
        transform: scale(0.77);
        -webkit-transform: scale(0.77);
        transform-origin: 0 0;
        -webkit-transform-origin: 0 0;
    }
}

.form-error {
    color: #BE5E1E;
    font-size: 0.75rem;
    font-weight: normal;
    margin-bottom: 0.5em;
}

.is-invalid-label {
    color: #BE5E1E;
}

.is-invalid-input:not(:focus) {
    border-color: #BE5E1E;
    background-color: #1D2426;
}

.is-invalid-input:not(:focus)::-webkit-input-placeholder {
    color: #BE5E1E;
}

.is-invalid-input:not(:focus)::-moz-placeholder {
    color: #BE5E1E;
}

.is-invalid-input:not(:focus):-ms-input-placeholder {
    color: #BE5E1E;
}

.is-invalid-input:not(:focus)::placeholder {
    color: #BE5E1E;
}

form {
    margin-top: 0.5em;
}

button.submit {
    border-color: #8FA388;
    background-color: #1D2426;
    color: #8FA388;
    font-size: 13px;
    padding: 0.7em 1em;
    margin-top: 1em;
}

button.submit:hover, button.submit:focus {
    background-color: #1D2426;
    color: #8FA388;
    box-shadow: 0 1px 5px #8FA388;
}

.message-sent {
    color: #BE5E1E;
    margin-left: 1em;
}

img.profile {
    max-height: 50%;
    max-width: 50%;
    display: block;
    margin: 1em auto;
    border: 1px solid #8FA388;
}