<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>~/about</title>
    <link rel="stylesheet" th:href="@{~/css/foundation.css}">
    <link rel="stylesheet" th:href="@{~/css/application.css}">
</head>
<body>

<div class="grid-container grid-container-padded">
    <div class="grid-x grid-padding-x align-center-middle" style="min-height: 100vh">
        <div class="cell small-11 medium-6 large-5" style="margin-top: 10px;margin-bottom: 10px">
            <div class="grid-y" th:with="active='about'">
                <div th:replace="fragments/header"></div>
                <div class="cell small-10 medium-5 large-4 header-container" style="margin-top: 2px; padding: 1.5em">
                    <div id="about">
                        <span style="color: #BE5E1E">~</span> ./about-me.sh<br/>
                        <img th:src="@{~/img/profile.png}" class="profile">
                        I am very motivated by visual progress. Seeing an application slowly come to life the more time
                        I spend on it is what motivates me to carry on. I'm a very precise worker and always try to think of
                        all possible edge cases when writing my work.
                        <br/><br/>
                        I love working on new concepts and using new technologies. In general I consider myself a quicker
                        learner and can usually quickly pick up frameworks and the use of libraries. I showed this when
                        I learned to make an android and iOS app from having no experience whatsoever.
                        <br/><br/>
                        In my free time I love creating things using my hands, mostly using wood and the few power tools
                        that I have in my shed. I also love drawing, although I'm not very good at it just yet. Aside
                        from that I enjoy playing video games with friends I've made over the years.
                        <br/><br/>
                        <span style="color: #BE5E1E">~</span> ./about-website.sh<br/>
                        On my laptop I've used the window manager <a href="https://i3wm.org/">i3</a> for a fair few
                        years and always liked the minimalistic look of it. This brought me to the idea to try and make
                        a website in the same style, simulating terminals with scripts printing out the contents. For
                        reference, a picture of my window manager can be found
                        <a th:href="@{~/img/screenshot-desktop.png}">here</a>.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{~/js/vendor/jquery.js}"></script>
<script th:src="@{~/js/vendor/what-input.js}"></script>
<script th:src="@{~/js/vendor/foundation.js}"></script>
<script th:src="@{~/js/app.js}"></script>

</body>
</html>