<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>~/contact</title>
    <link rel="stylesheet" th:href="@{~/css/foundation.css}">
    <link rel="stylesheet" th:href="@{~/css/application.css}">
</head>
<body>

<div class="grid-container grid-container-padded">
    <div class="grid-x grid-padding-x align-center-middle" style="min-height: 100vh">
        <div class="cell small-11 medium-6 large-5" style="margin-top: 10px;margin-bottom: 10px">
            <div class="grid-y" th:with="active='contact'">
                <div th:replace="fragments/header"></div>
                <div class="cell small-10 medium-5 large-4 header-container" style="margin-top: 2px; padding: 1.5em">
                    <div id="about">
                        <span style="color: #BE5E1E">~</span> ./contact-me.sh<br/>
                        Mail me at <a href="mailto:daan@hoogland.io">daan@hoogland.io</a> or fill out the form
                        below:<br/>
                        <span th:if="${param.status != null && param.status[0] == 'error'}" class="form-error is-visible" style="margin-top: 0">Something went wrong while sending your message. Please try again.</span>
                        <form th:object="${contactMessage}" method="post" th:action="@{~/contact}"
                              id="contact-form" onsubmit="return validateForm()">
                            <input type="text" placeholder="Name" th:field="*{name}" id="input-name"
                                   style="border-color: #8FA388; background-color: #1D2426; color: #BE5E1E; font-size: 13px;"/>
                            <span class="form-error" th:if="${#fields.hasErrors('name')}"
                                  th:classappend="${#fields.hasErrors('name')  ? 'is-visible' : ''}">Please fill out a name.</span>
                            <span id="error-name" class="form-error">Please fill out a name.</span>

                            <input type="email" placeholder="Email" th:field="*{email}" id="input-email"
                                   style="border-color: #8FA388; background-color: #1D2426; color: #BE5E1E; font-size: 13px;"/>
                            <span class="form-error" th:if="${#fields.hasErrors('email')}"
                                  th:classappend="${#fields.hasErrors('email')  ? 'is-visible' : ''}">Please leave a valid email.</span>
                            <span id="error-email" class="form-error">Please leave a valid email.</span>

                            <textarea placeholder="Your message" rows=3 th:field="*{message}" id="input-message"
                                      style="border-color: #8FA388; background-color: #1D2426; color: #BE5E1E; font-size: 13px;"></textarea>
                            <span class="form-error" th:if="${#fields.hasErrors('message')}"
                                  th:classappend="${#fields.hasErrors('message')  ? 'is-visible' : ''}">Please leave a short message (max 1000 chars)</span>
                            <span id="error-message"
                                  class="form-error">Please leave a short message (max 1000 chars)</span>

                            <div class="g-recaptcha" data-sitekey="6LcXITwUAAAAAIOZy6oEshgfPA2zNNL0rqlJ-F-r"
                                 data-theme="dark" data-callback="onCaptchaFilled"
                                 data-expired-callback="onCaptchaExpired"></div>
                            <span id="captchaError" class="form-error"
                                  style="margin-top: 0.5em; margin-bottom: -0.5em;">Prove to me that you're not a robot.</span>
                            <span class="form-error" th:if="${#fields.hasErrors('global')}"
                                  th:classappend="${#fields.hasErrors('global')  ? 'is-visible' : ''}"
                                  style="margin-top: 0.5em; margin-bottom: -0.5em;">reCAPTCHA validation failed.</span>

                            <button class="button submit" type="submit" value="Submit">submit</button>
                            <span th:if="${param.status != null && param.status[0] == 'success'}" style="color: #BE5E1E; margin-left: 1em;">Message sent.</span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{~/js/vendor/jquery.js}"></script>
<script th:src="@{~/js/vendor/what-input.js}"></script>
<script th:src="@{~/js/vendor/foundation.js}"></script>
<script th:src="@{~/js/app.js}"></script>
<script th:src="@{~/js/validate.js}"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>

</body>
</html>