<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>~/cv</title>
    <link rel="stylesheet" th:href="@{~/css/foundation.css}">
    <link rel="stylesheet" th:href="@{~/css/application.css}">
</head>
<body>

<div class="grid-container grid-container-padded">
    <div class="grid-x grid-padding-x align-center-middle" style="min-height: 100vh">
        <div class="cell small-11 medium-6 large-5" style="margin-top: 10px;margin-bottom: 10px">
            <div class="grid-y" th:with="active='cv'">
                <div th:replace="fragments/header"></div>
                <div class="cell small-10 medium-5 large-4 header-container" style="margin-top: 2px; padding: 1.5em">
                    <div id="personalia">
                        <span style="color: #BE5E1E">~</span> ./personalia.sh <br/>
                        Name: Daan Hoogland<br/>
                        Date of birth: 18-8-1995<br/>
                        Place of birth: Amsterdam<br/>
                        Residence: Huizen
                    </div>
                    <br/>
                    <div id="education">
                        <span style="color: #BE5E1E">~</span> ./education.sh <br/>
                        Software Engineering BSc<br/>Hogenschool van Amsterdam<br/>2013 - 2018<br/><br/>
                        HAVO - N&G<br/>Huizermaat<br/>2007 - 2013
                    </div>
                    <br/>
                    <div id="experience">
                        <span style="color: #BE5E1E">~</span> ./work-experience.sh <br/>
                        Digital Investigation<br/>Software Engineer<br/>oct 2017 - current<br/><br/>
                        53 Graden Noord<br/>Mobile app developer<br/>jan 2015 - dec 2015
                    </div>
                    <br/>
                    <div id="skills">
                        <span style="color: #BE5E1E">~</span> ./skills.sh <br/>
                        Java<br/>
                        Spring Boot/MVC<br/>
                        HTML/CSS/JS<br/>
                        (My)SQL<br/>
                        Mobile app development (Android & iOS)<br/>
                        Git<br/>
                        Scrum<br/>
                        Computer hardware<br/>
                    </div>
                    <br/>
                    <div id="languages">
                        <span style="color: #BE5E1E">~</span> ./languages.sh <br/>
                        Dutch<br/>
                        English<br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{~/js/vendor/jquery.js}"></script>
<script th:src="@{~/js/vendor/what-input.js}"></script>
<script th:src="@{~/js/vendor/foundation.js}"></script>
<script th:src="@{~/js/app.js}"></script>

</body>
</html>