<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${'~/error-' + status}"></title>
    <link rel="stylesheet" th:href="@{~/css/foundation.css}">
    <link rel="stylesheet" th:href="@{~/css/application.css}">
</head>
<body>

<div class="grid-container grid-container-padded">
    <div class="grid-x grid-padding-x align-center-middle" style="min-height: 100vh">
        <div class="cell small-11 medium-6 large-5" style="margin-top: 10px;margin-bottom: 10px">
            <div class="grid-y">
                <div th:replace="fragments/header"></div>
                <div class="cell small-10 medium-5 large-4 header-container text-center" style="margin-top: 2px; padding: 1.5em">
                    <pre th:if="${status == 400}" class="logo">
  _  _    ___   ___
 | || |  / _ \ / _ \
 | || |_| | | | | | |
 |__   _| | | | | | |
    | | | |_| | |_| |
    |_|  \___/ \___/
                    </pre><br th:if="${status == 400}"/>
                    <span th:if="${status == 400}">bad request</span>
                    <pre th:if="${status == 401}" class="logo">
  _  _    ___  __
 | || |  / _ \/_ |
 | || |_| | | || |
 |__   _| | | || |
    | | | |_| || |
    |_|  \___/ |_|
                    </pre><br th:if="${status == 401}"/>
                    <span th:if="${status == 401}">unauthorized</span>
                    <pre th:if="${status == 404}" class="logo">
 _  _    ___  _  _
| || |  / _ \| || |
| || |_| | | | || |_
|__   _| | | |__   _|
   | | | |_| |  | |
   |_|  \___/   |_|
                    </pre><br th:if="${status == 404}"/>
                    <span th:if="${status == 404}">not found</span>
                    <pre th:if="${status == 415}" class="logo">
  _  _  __ _____
 | || |/_ | ____|
 | || |_| | |__
 |__   _| |___ \
    | | | |___) |
    |_| |_|____/
                    </pre><br th:if="${status == 415}"/>
                    <span th:if="${status == 415}">unsupported media type</span>
                    <pre th:if="${status == 500}" class="logo">
  _____  ___   ___
 | ____|/ _ \ / _ \
 | |__ | | | | | | |
 |___ \| | | | | | |
  ___) | |_| | |_| |
 |____/ \___/ \___/
                    </pre><br th:if="${status == 500}"/>
                    <span th:if="${status == 500}">internal server error</span>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{~/js/vendor/jquery.js}"></script>
<script th:src="@{~/js/vendor/what-input.js}"></script>
<script th:src="@{~/js/vendor/foundation.js}"></script>
<script th:src="@{~/js/app.js}"></script>

</body>
</html>