<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>~</title>
    <link rel="stylesheet" th:href="@{~/css/foundation.css}">
    <link rel="stylesheet" th:href="@{~/css/application.css}">
</head>
<body>
<div class="grid-container grid-container-padded">
    <div class="grid-x grid-padding-x align-center-middle text-center" style="min-height: 100vh;"
         th:with="active='index'">
        <div th:replace="fragments/header"></div>
    </div>
</div>

<script th:src="@{~/js/vendor/jquery.js}"></script>
<script th:src="@{~/js/vendor/what-input.js}"></script>
<script th:src="@{~/js/vendor/foundation.js}"></script>
<script th:src="@{~/js/app.js}"></script>

</body>
</html>