<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>~/links</title>
    <link rel="stylesheet" th:href="@{~/css/foundation.css}">
    <link rel="stylesheet" th:href="@{~/css/application.css}">
</head>
<body>
<div class="grid-container grid-container-padded">
    <div class="grid-x grid-padding-x align-center-middle" style="min-height: 100vh">
        <div class="cell small-11 medium-6 large-5" style="margin-top: 10px;margin-bottom: 10px">
            <div class="grid-y" th:with="active='links'">
                <div th:replace="fragments/header"></div>
                <div class="cell small-10 medium-5 large-4 header-container" style="margin-top: 2px; padding: 1.5em">
                    <span style="color: #BE5E1E">~</span> cd <a href="https://gitlab.com/DaanHoogland">Gitlab/</a><br/>
                    <span style="color: #BE5E1E">~</span> cd <a href="https://www.linkedin.com/in/daan-hoogland-58a96aa3/">LinkedIn/</a><br/>
                    <span style="color: #BE5E1E">~</span> cd <a href="mailto:daan@hoogland.io">Email/</a><br/>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{~/js/vendor/jquery.js}"></script>
<script th:src="@{~/js/vendor/what-input.js}"></script>
<script th:src="@{~/js/vendor/foundation.js}"></script>
<script th:src="@{~/js/app.js}"></script>

</body>
</html>